.title{
color: black; 
font-family: 'Fjalla One', sans-serif;
text-align: center;
font-size: 15;


}

.maintitle{

font-family: 'Varela Round', sans-serif;
text-align: center;
font-size: 400;
 margin: 0;

}
.rainbow-lr {
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
  color:transparent;
  background-clip: text;
}
.rainbow-td {
  background: linear-gradient(to bottom, red, orange , yellow, green, cyan, blue, violet);
  color:transparent;
  background-clip: text;
}

.subtitle{
color: rgb(255,255,255); 
font-family: 'Cabin', sans-serif;
text-align: center;
 margin: 5;
 font-style: italic;
    font-size: 20;
}


.fixed{
	position: fixed;
	margin: 0.5cm;

}

.tallimage{
    
    height: 100%;
    display: block;
   margin-left: auto;
  margin-right: auto;


}

.wideimage{
    
    width: 100%;
    display: block;
   margin-left: auto;
  margin-right: auto;


}

.miltontitle{
	color: white; 
font-family: 'Cabin', sans-serif;
text-align: center;
font-size: 40;
margin: 5;
text-decoration: none;
	
}

a:hover{
	

text-decoration: underline;
	
}

.EMPtitle{
	color: white; 
font-family: 'Cabin', sans-serif;
text-align: center;
font-size: 40;
margin: 50;
text-decoration: none;
	
}


.miltonbody{
	background-color: rgb(175, 150, 175);
	
	
}



.projects{
color: white; 
font-family: 'Cabin', sans-serif;
position:fixed;
right: 18%;
top: 30%;
font-size: 40;

text-decoration: none;


}
.achievements{
color: white; 
font-family: 'Cabin', sans-serif;
position:fixed;
right: 43%;
top: 30%;
font-size: 40;

text-decoration: none;


}

.adventures{
	color: white; 
font-family: 'Cabin', sans-serif;
position: fixed;
font-size: 40;
left: 12%;
top: 30%;
text-decoration: none;

	
}

.menu{
    margin: auto;
    width: 90%;
    
}
.leftmenu{
    
    color: white; 
    font-family: 'Cabin', sans-serif;
    font-size: 30;
    text-decoration: none;

    float: right;
   

}
.rightmenu{
    
    color: white; 
    font-family: 'Cabin', sans-serif;
    font-size: 30;
    text-decoration: none;
    text-align: right;
    
  
}


.sneakylink{
	color: white; 
	text-decoration: none;
	
	
}


.sneakylinkblack{
	color: black; 
	text-decoration: none;
	text-align: left;
	margin:0;
font-family: 'Fjalla One', sans-serif;

font-size: 150;
	
}





.margin0{
	
	margin: 0;
	
}



.indexbody{
background: url("images/IMG_1.jpg");
 background-size: cover; 
background-repeat: no-repeat;
 background-color: black; 
background-attachment: fixed;
background-position: center:


}











/*__________________________________________________ Adventures________________________________________*/

#next{
	color: white;
	position: fixed;
	right: 1%;
	text-decoration: none;
	font-size: 28;
	margin: 0;
	
}

#home{
	position: fixed;
	left: 1%;
	text-decoration: none;
	font-size: 28;
	margin: 0;
    
}

#murtle{
    
    
}
#BACK{
	color: white;
	position: fixed;
	right: 15%;
	text-decoration: none;
	font-size: 28;
	margin: 0;
	
}

.rockiestitle{
	
	font-family: 'Varela Round', sans-serif;
	color: white;

	margin-bottom: 1;
}
	




.rockiessubtitle{
	color: white;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
}



.zindexfull{

	
}



#nomargin{
	
	margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
    background-color: black;
	
	
}
.container {
   
  position: relative;
 z-index: -1000;
    margin-bottom: 1%;
    
  color: white;
    
   
}
.rotatecontainer {
   
  position: relative;
 z-index: -1000;
    margin-bottom: 1%;
    
  color: white;
     transform: rotate(180deg);
   
}
.rotateimageText{
	position: absolute;
	top: 10px;
	left: 20px;
	font-family: 'Roboto Mono', monospace;
	
	transform: rotate(180deg);
	
}

.imageText{
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-family: 'Varela Round', sans-serif;
	
	
	
}


.infobox{
    margin: 15px;
   
    color: rgb(190,200,210);
    font-size: 70;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    
}

.infoboxPARA{
    margin: 15px;
    margin-left: 25px;
   
    color: rgb(200,200,200);
    font-size: 16;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    
}

.grayscale{
    
    filter: grayscale(100%);
    opacity: 40%;
}

.imagerotate{
     
    transform: rotate(180deg);
      

  color: white;
    
}

.contactInformation{
    width: 100%;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: 'Cabin', sans-serif;
    background-color: rgba(0,0,0,50%);
    color:white;
    position: fixed;
    bottom: 3%;
    left: 0%;
   
}

#contactinfo{
      margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    left: 7%;
}

.centerPlay{
  position: absolute;
 
left:0;
    top: 50%;
    text-align: center;
    width: 100%;
   	color: white; 
	text-decoration: none;

	margin:0;
 font-family: 'Fjalla One', sans-serif;

font-size: 75;
    
}


.underlineONhover:hover{
    text-decoration: underline;
}
